---
import MainLayout from "../layouts/MainLayout.astro";
import CustomTitle from "./components/CustomTitle.astro";
const { title } = Astro.props;
---

<MainLayout title="Sobre nosotros">
  <h1>About</h1>
  <CustomTitle title="Vamo a programar" />
</MainLayout>

<style is:global>
  h1 {
    color: orange;
  }
</style>
